.footer {
    background-color: black;
    color: white;
    padding: 0 150px;
}

.footer-nav {
    display: flex;
    gap: 60px;
    padding: 30px 0;
    justify-content: flex-end;
    border-bottom: 1px solid white;
}

.footer-nav li {
    font-size: .8rem;
    list-style: none;
}

.footer-information {
    display: flex;
}

.footer-information .footer-copyright,
.footer-information .footer-policy {
    flex-grow: 1;
}

.footer-information .footer-policy {
    text-align: end;
}

.footer-copyright {
    font-size: .8rem;
    color: grey;
}

.footer-information .footer-policy a {
    color: white;
    text-decoration: none;
    font-size: .6rem;
}