<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/<%= items.result.id %>/edit" method="post">
        <div>
            <label>
                <span>Title : </span>
                <input name="title" type="text" value="<%= items.result.title %>">
            </label>
        </div>
        <div>
            <label>
                <span>Description : </span>
                <input name="description" type="text" value="<%= items.result.description %>">
            </label>
        </div>
        <div>
            <input type="submit" value="Edit">
        </div>
    </form>
</body>
</html>